beautifulsoup4
fuzzywuzzy
google
lxml
online-judge-api-client
online-judge-tools
pickle-mixin
ply
plyer
psutil
PyAudio
pyfiglet
python-Levenshtein
python-Levenshtein-wheels
pyttsx3
requests
SpeechRecognition
tcgen
termcolor
tqdm
wget
wikipedia
wolframalpha
